*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Public Sans', sans-serif;
}

header{
    background-color: black;
}

.icon_site{
    height: 50px;
}
.icon_site img{
    width: 100%;
    height: 100%;
}