*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Public Sans', sans-serif;
}

header{
    background-color: black;
}

.icon_site{
    height: 50px;
}
.icon_site img{
        width: 182px;
        height: auto;
        margin-right: 0px;
        margin-left: auto;
    }

.img_hero_image{
    width: 100%;
    height: auto;
}
.img_hero_image img{
    width: 100%;
    height: auto;
}

.img_returnal
