body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: black;
}

.icon_site{
    height: 50px;
}
.icon_site img{
        width: 182px;
        height: auto;
        margin-right: 0px;
        margin-left: auto;
    }
.hero_image{
    background-image: url(./img/jumbo-bg.png);
}

.hero_image, .it_takes_two{
   
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    height: 753px;
}
.hero_text, .takes_two_text{
    width: 31%;
    padding-top: 18em;
    padding-left: 2rem;
    color: white;
    box-sizing: content-box;
}
.row{
    width: 100%;
    max-height: 1200px;
}

.col_5{
    width: 13%;
    height: 10%;   
}
.col_5 img{
    width: 90%;
}

.col_6{
    width: 15%;
    height: 10%;
}
.col_6 img{
    width: 100%;
    border-radius: 27px;
}

#double_border{
    border-style: solid;
   border-color: darkblue;
}
#bottom_border


.col_45{
    width: 50%;
}

.col_45>img{
    width: 50%;
    height: auto;
}

.it_takes_two{
    background-image: url(./img/it-takes-two-hero-banner-desktop.jpg);
    color: white;
}

.col_6_square{
    width: 15%;
    margin-top: 30px;
    
}
.col_6_square img{
    width: 100%;
    border-radius: 20px;
}