body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: black;
}

.icon_site{
    height: 50px;
}
.icon_site img{
        width: 182px;
        height: auto;
        margin-right: 0px;
        margin-left: auto;
    }

.hero_image{
    background-image: url(./img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    height: 753px;
}
.hero_text{
    width: 41%;
    padding-top: 10em;
    padding-left: 2rem;
    color: white;
    box-sizing: content-box;
}
.row{
    width: 100%;
}

.col_5{
    width: 12%;
    height: 10%;   
}
.col_5 img{
    width: 100%;
}

.col_6{
    width: 15%;
    height: 10%;
}
.col_6 img{
    width: 100%;
    border-radius: 27px;
}

#double_border{
    border-style: solid;
   padding: 7px;
   border-color: darkblue;
}
#bottom_border


.col_45{
    width: 40%;
}

